header {
    font-size: 24px;
}

body {
    background: linear-gradient(360deg, black,rgb(40, 100, 80 ) ) ;
}
header {
    color: #ffe4c4;
}

main {
    margin: 50px auto;
}
    
p {
    text-align: center;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

img {
    margin-left: 280px;
}

.imagem__2 {
    width: 350px;
    margin-top: 10px;
}

h1 {
    color: #FFFFFF;
}

.imagem__3 {
    width: 350px;
    margin-left: 290px;
    margin-top: 10px;
}

h2 {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}

.imagem__4 {
    width: 350px;
    margin-left: 300px;
    margin-top: 10px;
}

.imagem__linuxs {
    width: 400px;
    margin-top: 10px;
}

.separacao {
    margin-top: 10px;
}

h4 {
    color: #FFFFFF;
}

h5 {
    color: #FFFFFF;
}

h6 {
    color: #FFFFFF;
}

.imagem__consoles {
    height: 350px;
    width: 500px;
    margin-top: 10px;
 
}

.imagem__consoles-2 {
    height: 500px;
}

.lixo {
    margin-top: 10px;
    font-size: 24px;
}

.ambiente {
    margin-top: 10px;
    font-size: 18px;
}

.onu {
    width: 164px;
    height: 200px;
    margin: 0px;
}

.infografico {
    margin-top: 10px;
    height: 700px;
    width: 500px;
}

.terra {
    margin-top: 10px;
    width: 600px;
    margin-left: 200px;
}

.origem {
    color: #FFFFFF;
    background-color: #000000;
    text-align: left;
    font-weight: bold;
}

a {
    display: block;
    color: #0000FF;
}

a:hover {
    color: #FF0000;
}

a:active {
    color: #00FF00;
}

@media screen and (max-width: 540px) {
    img{
        margin-left: 0px;
    }

    .imagem__3 {
        margin-left: 0px;
    }

    .imagem__4 {
        margin-left: 0px;
    }

}
